<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>

  <body>
    <h1 class="text-5xl mb-4"><%= name %></h1>
    <div class="m-4">
      <button
        onclick="location.href = '/auth/logout'"
        type="button"
        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        로그아웃
      </button>

      <button
        onclick="location.href = '/auth/logout'"
        type="button"
        class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        글쓰기
      </button>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <!-- 테이블 -->
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">글 제목</th>
            <th scope="col" class="px-6 py-3">내용</th>
            <th scope="col" class="px-6 py-3">작성자</th>

            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% Topic.forEach((el,index) => { %>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"
            >
              <%= el.Title %>
            </th>
            <td class="px-6 py-4"><%= el.Desc %></td>
            <td class="px-6 py-4"><%= el.Writer %></td>

            <td class="px-6 py-4 text-right">
              <a
                href="/edit/<%= index + 1 %> "
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Edit</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
